@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.tracker-container {
  padding: 10px;
  width: 320px;
}

.tracker-ki {
  margin: 5px;
}

.core-text {
  text-align: center;
}

.text-CRATERIA {
  color: #3838d5;
}

.text-BRINSTAR {
  color: #25ac1e;
}

.text-NORFAIR {
  color: #A82525;
}

.text-KRAID {
  color: #777;
}

.text-RIDLEY {
  color: #8d399b;
}

.text-WRECKEDSHIP {
  color: #c1751e;
}

.text-TOURIAN {
  color: #26bbc3;
}

.bg-CRATERIA {
  background-color: #2323D9;
}

.bg-BRINSTAR {
  background-color: #197a14;
}

.bg-NORFAIR {
  background-color: #A82525;
}

.bg-KRAID {
  background-color: #777;
}

.bg-RIDLEY {
  background-color: #6d1c7a;
}

.bg-WRECKEDSHIP {
  background-color: #8f5716;
}

.bg-TOURIAN {
  background-color: #19878d;
}

.non-ws-button {
  width: 120px;
}