@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.tracker-container {
  padding: 10px;
  width: 320px;
}

.tracker-ki {
  margin: 5px;
}

.core-text {
  text-align: center;
}

.bg-CRATERIA {
  background-color: #2323D9;
}

.bg-BRINSTAR {
  background-color: #2DD923;
}

.bg-NORFAIR {
  background-color: #A82525;
}

.bg-KRAID {
  background-color: #777;
}

.bg-RIDLEY {
  background-color: #7A1C60;
}

.bg-WRECKEDSHIP {
  background-color: #D68120;
}

.bg-TOURIAN {
  background-color: #23C7Cf;
}

.non-ws-button {
  width: 120px;
}